/*------------------------------------------------------- Colors + Fonts   */
body {
    background-color: #fff;
    color: #84b0c2;
}

p {
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.orange-highlight {
    animation: fadeToOrange 1s;
    color: #fac481;
}

.bg-header {
    background-color: #1a1a1a;
}

.bg-gradient-blue {
    background-image: linear-gradient(to bottom right, #000, #1a1a1a, #2a2a2a, #84b0c2, #2a2a2a, #1a1a1a, #000);
}

.bg-gradient-gray {
    background-image: linear-gradient(to bottom right, #1a1a1a, #2f2f2f, #1a1a1a, #000);
}

/*------------------------------------------------------- Box special    */
hr {
    border: 0.5px solid #84b0c2;
    margin-top: 2px;
}

section {
    padding-top: 75px;
    padding-bottom: 10px;
}

.center-content {
    display: table;
    margin: auto;
}

/* used for the padding of the section above the footer */
.distance {
    padding-bottom: 25px;
}

/*------------------------------------------------------- headings    */
h1 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 33px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 15px;
    animation: fadeToOrange 1s;
    color: #fac481;
}

h3 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #fac481;
    text-shadow: 0 0 4px #1a1a1a
}

h5 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

/*------------------------------------------------------- Navbar    */

.sideborder {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-container {
    z-index: 3;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    background-color: #1a1a1a;
}

.navbar-toggler {
    border: 0;
}

.navbar {
    padding: 5px;
}

.nav-font .navbar-nav a {
    text-transform: uppercase;
    font-family: 'Blinker', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .active > .nav-link {
    text-shadow: 0 0 3px #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fac481;
    text-shadow: 0 0 0;
}

.navbar-dark .navbar-collapse {
    text-align: right;
}

.navbar-nav {
    padding-top: 4px;
}

#logo {
    height: 65px;
}

.appstore-link {
    display: block;
    padding-right: 5px;
}

/*------------------------------------------------------- Home    */
.appStoreLink-sm {
    text-align: center;
    margin: 8px;
}

.align-right {
    text-align: right;
}

.train-picture-wrapper {
    max-width: 70vh; 
    text-align: center;
    margin: auto;
}

.train-picture:before {
    padding-top: 100%;
    content: ''; /* Enable the pseudo-element */
    display: block;
    background-image: url("../images/background/tracks-home.png");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 6px #fff;
}

.screenshots-sm {
    width: 24%;
}

/*------------------------------------------------------- Features    */
.features-bg {
    background-size: cover;
    background-position: center;
}

.features-bg.general {
    background-image: url("../images/bg-features/general.png");
}

.features-bg.privacy {
    background-image: url("../images/bg-features/privacy.png");
}

.features-bg.calendar {
    background-image: url("../images/bg-features/calendar.png");
}

.features-bg.buttons {
    background-image: url("../images/bg-features/buttons.png");
}

.features-bg.change {
    background-image: url("../images/bg-features/change.png");
}

.features-bg.new {
    background-image: url("../images/bg-features/new.png");
}

.features-preview {
    width: 200px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
    border-radius: 50%;
    background-size: cover;
    background-color: darkgrey;
    transition: transform 0.2s;
    box-shadow: 0 0 20px #0a0a0a;
}

.features-preview:hover {
    transform: scale(1.1);
    
}

.features-preview.general {
    background-image: url("../images/screenshots-features/general.png");
    float: right;
}

.features-preview.privacy {
    background-image: url("../images/screenshots-features/privacy.png");
    float: right;
}

.features-preview.new {
    background-image: url("../images/screenshots-features/new.png");
    float: left;
}

.features-preview.calendar {
    background-image: url("../images/screenshots-features/calendar.png");
    float: left;
}

.features-preview.buttons {
    background-image: url("../images/screenshots-features/buttons.png");
    float: left;
}

.features-preview.change {
    background-image: url("../images/screenshots-features/change.png");
    float: right;
}

/*------------------------------------------------------- Manual    */
.content {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Blinker', sans-serif;
    font-size: 13pt;
}

.pic-container {
    background-color: #fff;
    max-height: 768px;
    border-radius: 20px;
    padding-right: 15px;
    text-align: center;
}

.pic-description {
    border-radius: 20px;
    max-width: 100%
}

.topics {
    color: white;
    padding-left: 0;
}

.topics:hover {
    color: #fac481;
    text-decoration: none;

}

.selected-topic {
    border-radius: 10px;
    background-color: #fac481;
    padding-left: 0;
    color: #1a1a1a;
    animation: fadeToOrange-bg 1s;
}

.selected-topic:hover {
    color: #1a1a1a;
}

.faicons {
    width: 40px;
    display: inline-block;
    text-align: center;
}

.download-icon {
    font-size: 19pt;
    padding-top: 20px;
}

.manual-toggler {
    padding: 0;
}

.downloadpdf-small {
    float: right;
    text-decoration: none;
}

/*------------------------------------------------------- Form    */
.form-item {
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    color: #84b0c2;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.btn-send {
    color: #1a1a1a;
    background-color: #fac481;
    animation: fadeToOrange-bg 1s;
    margin-bottom: 25px;
    border-radius: 10px;
}

p.disclaimer {
    font-size: 11pt;
}

/*------------------------------------------------------- Modal view */

.modal-content {
    border-radius: 10px;
    border-width: 2px;
    background-color: #fff;
}

.modal-body h2 {
    animation: none;
}

.modal-body h2,
.modal-body p {
    color: #1a1a1a;
}

.modal-body a {
    text-decoration: none;
}

/*------------------------------------------------------- Footer    */
#footer-details {
    color: #84b0c2;
    margin-top: 0px;
}

footer p {
    font-size: 14px;
}

footer hr {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0.5px solid #84b0c2;
}

.social-icon {
    width: 24px;
    height: 24px;
    background-color: #84b0c2;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
    margin-top: 4px;
    padding-top: 3px;
    
}

/*------------------------------------------------------- Media Queries and Anmiation    */
@media screen and (max-width : 320px) {
    h2 {
        font-size: 17px;
    }

    .features-preview {
        width: 130px;
        height: 130px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
    }

}

@media screen and (max-width : 576px) {
    h1 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    h2 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }

}

@media screen and (max-width : 832px) {
     #logo {
        height: 50px;
    }

    section {
        padding-top: 60px;
    }
}

@media screen and (max-width : 992px) {
    .features-preview {
        width: 150px;
        height: 150px;
    }

      p {
        font-size: 16px;
    }

    .form-item {
        font-size: 16px;
    }
}

@keyframes fadeToOrange {
    from {
        color: #000;
        }
    to {
        color: #fac481;
    }
}

@keyframes fadeToOrange-bg {
    from {
        background-color: transparent;
        color: #fac481;
        }
    to {
        background-color: #fac481;
        color: #1a1a1a;
    }