/*------------------------------------------------------- Colors + Fonts   */
body {
    background-color: #fff;
    color: #fafafa;
}

p {
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.orange-highlight {
    animation: fadeToOrange 1s;
    color: #fac481;
}

.bg-header {
    background-color: #1a1a1a;
}

.bg-gradient-blue {
    background-image: radial-gradient(#fff, #84b0c2, #212121);
}

.bg-gradient-gray {
    background-image: radial-gradient(#84b0c2, #212121);
}

/*------------------------------------------------------- Box special    */
section {
    padding-top: 75px;
    padding-bottom: 10px;
}

.center-content {
    display: table;
    margin: auto;
}

/* used for the padding of the section above the footer */
.distance {
    padding-bottom: 25px;
}

.faicons {
    width: 40px;
    display: inline-block;
    text-align: center;
}

.appStoreLink-sm {
    text-align: center;
    margin: 8px;
}

/*------------------------------------------------------- headings    */
h1 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 30px 0 30px 0;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 10px 0px;
    color: #fac481;
    animation: fadeToOrange 1s;
}

h3 {
    font-family: 'Blinker', sans-serif;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #1a1a1a;
}

h5 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

/*------------------------------------------------------- Navbar    */

.sideborder {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-container {
    z-index: 3;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    background-color: #1a1a1a;
}

.navbar-toggler {
    border: 0;
}

.navbar {
    padding: 5px;
}

.nav-font .navbar-nav a {
    text-transform: uppercase;
    font-family: 'Blinker', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .active > .nav-link {
    text-shadow: 0 0 3px #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fac481;
    text-shadow: 0 0 0;
}

.navbar-dark .navbar-collapse {
    text-align: right;
}

.navbar-nav {
    padding-top: 4px;
}

#logo {
    height: 65px;
}

.appstore-link {
    display: block;
    padding-right: 5px;
}

/*------------------------------------------------------- Home    */
.align-right {
    text-align: right;
}

.train-picture-wrapper {
    max-width: 70vh; 
    text-align: center;
    margin: auto;
}

.train-picture:before {
    padding-top: 100%;
    content: '';  /* Enable pseudo-element */
    display: block;
    background-image: url("../images/background/tracks-home.png");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 6px #fff;
}

.screenshots-sm {
    width: 24%;
}

/*------------------------------------------------------- Features    */
.wrapper {
    min-height: 185px;
    max-width: 832px;
    margin-right: 150px;
    margin-left: 150px;
}

.wrapper.right {
    margin-right: 150px;
    margin-left: 400px;
}

.wrapper.left {
    margin-right: 400px;
    margin-left: 150px;
}

.features-preview {
    width: 300px;
    height: 300px;
    margin: 0 10px 70px 10px;
    border-radius: 50%;
    shape-outside: circle(50%);
    background-size: cover;
    background-color: darkgrey;
    transition: transform 0.2s;
    box-shadow: 0 0 5px #84b0c2;
}

.features-preview.left {
    margin-left: 0;
}

.features-preview.right {
    margin-right: 0;
}

.features-preview:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff;
    animation: lightUp 0.2s;
}

.features-preview.general {
    background-image: url("../images/screenshots-features/general.png");
    float: left;
}

.features-preview.buttons {
    background-image: url("../images/screenshots-features/buttons.png");
    float: right;
}

.features-preview.privacy {
    background-image: url("../images/screenshots-features/privacy.png");
    float: left;
}

.features-preview.new {
    background-image: url("../images/screenshots-features/new.png");
    float: right;
}

.features-preview.change {
    background-image: url("../images/screenshots-features/change.png");
    float: left;
}

.features-preview.calendar {
    background-image: url("../images/screenshots-features/calendar.png");
    float: right;
}

.fade-left {
    background-image: linear-gradient(to bottom right, rgba(132,176,194,0.3), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

.fade-right {
    background-image: linear-gradient(to bottom left, rgba(132,176,194,0.3), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

.bottom-distance {
    padding-bottom: 150px;
}

.appStoreLink-sm.left {
    text-align: left;
}

/*------------------------------------------------------- Manual    */
.content {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Blinker', sans-serif;
    font-size: 13pt;
}

.pic-container {
    background-color: #fff;
    max-height: 768px;
    border-radius: 20px;
    padding-right: 15px;
    text-align: center;
}

.pic-description {
    border-radius: 20px;
    max-width: 100%
}

.topics {
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fafafa;
    padding-left: 0;
}

.topics:hover {
    color: #fac481;
    text-decoration: none;

}

.topics.selected {
    border-radius: 10px;
    background-color: #fac481;
    padding-left: 0;
    color: #1a1a1a;
    animation: fadeToOrange-bg 1s;
}

.selected-topic:hover {
    color: #1a1a1a;
}

.download-icon {
    font-size: 19pt;
    padding-top: 20px;
}

.manual-toggler {
    padding: 0;
}

.downloadpdf-small {
    float: right;
    text-decoration: none;
}

.navbar-light {
    margin-bottom: 20px;
}

/*------------------------------------------------------- Contact    */
.form-item {
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    color: #fafafa;
    margin-bottom: 10px;
}

.form-item.inside-field {
    color: #1a1a1a;
}


.btn-send {
    color: #1a1a1a;
    background-color: #fac481;
    animation: fadeToOrange-bg 1s;
    margin-bottom: 25px;
    border-radius: 10px;
}

p.disclaimer {
    font-size: 11pt;
}

input[type=radio] {
    margin: 0 5px 0 5px;
    float: left;
    margin-top: 8px;
    background-color: #fac481;
}

label {
    width: 80%;
}

/*------------------------------------------------------- Modal view */
.modal-content {
    border-radius: 10px;
    border-width: 2px;
    background-color: #fff;
}

.modal-body h2 {
    animation: none;
}

.modal-body h2,
.modal-body p {
    color: #1a1a1a;
}

.modal-body a {
    text-decoration: none;
}

/*------------------------------------------------------- Footer    */
#footer-details {
    color: #84b0c2;
    margin-top: 0px;
}

footer p {
    font-size: 14px;
}

.social-icon {
    width: 24px;
    height: 24px;
    background-color: #84b0c2;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
    margin-top: 4px;
    padding-top: 3px; 
}

/*------------------------------------------------------- Media Queries and Anmiation    */
@media screen and (max-width : 992px) {
    .features-preview {
        width: 30vw;
        height: 30vw;
        margin-bottom: 0px;
    }

    .wrapper {
        min-height: 160px;
        padding-bottom: 30px;
    }
    
    .wrapper.right {
        margin-right: 15vw;
        margin-left:  25vw;
    }

    .wrapper.left {
        margin-right:  25vw;
        margin-left: 15vw;
    }

    p,
    .topics,
    .form-item {
        font-size: 18px;
    }

    .bottom-distance {
        padding-bottom: 132px;
    }
}

@media screen and (max-width : 832px) {
     #logo {
        height: 50px;
    }

    section {
        padding-top: 60px;
    }

    .wrapper {
        padding-bottom: 30px;
    }

    .wrapper.right {
        margin-right: 15vw;
        margin-left: 10vw;
    }

    .wrapper.left {
        margin-right: 10vw;
        margin-left: 15vw;
    }

    h2 {
        font-size: 22px;
    }
}

@media screen and (max-width : 768px) {
    .bottom-distance {
        padding-bottom: 20px;
    }
}

@media screen and (max-width : 576px) {
    h1 {
        font-size: 30px;
    }

    h1.manual-title {
        padding: 20px 0 0 0;
        font-size: 22px;
    }

    h2 {
        padding: 2px;
    }

    .features-preview {
        width: 150px;
        height: 150px;
    }

    .wrapper.right {
        margin-right: 15vw;
        margin-left: 0px;
    }

    .wrapper.left {
        margin-right: 0px;
        margin-left: 15vw;
    }

    .wrapper .faicons {
        display: none;
    }

    .bottom-distance {
        padding-bottom: 40px;
    }

}

@keyframes fadeToOrange {
    from {
        color: #000;
        }
    to {
        color: #fac481;
    }
}

@keyframes fadeToOrange-bg {
    from {
        background-color: transparent;
        color: #fac481;
        }
    to {
        background-color: #fac481;
        color: #1a1a1a;
    }
}

@keyframes lightUp {
    from {
        box-shadow: 0 0 5px #fff;
        }
    to {
        box-shadow: 0 0 10px #fff;
    }
}