body {
    background-color: #84b0c2;
    color: #212121;
}

/*------------------------------------------------------- Colors    */

.orange-highlight {
    animation: fadeToOrange 1s;
    color: #fac481;
}

p {
    font-family: 'Blinker', sans-serif;
    font-size: 17px;
}

/*------------------------------------------------------- Box special    */

hr {
  border: 0.5px solid #212121;
  margin-top: 2px;
}

.pages-title {
    padding-top: 20px;
    text-align: center;
}



/*------------------------------------------------------- headings    */
h1 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 33px;
    padding-bottom: 25px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 15px;
    animation: fadeToOrange 1s;
    color: #fac481;
}

h5 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 14px;
}


/*------------------------------------------------------- Navbar    */

.navbar-container {
    z-index: 3;
    
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;

}

.navbar-toggler {
    border: 0;
}

.nav-font .navbar-nav a {
    text-transform: uppercase;
    font-family: 'Blinker', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .active > .nav-link {
    text-shadow: 0 0 3px #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fac481;
    text-shadow: 0 0 0;
}

.navbar-dark .navbar-collapse {
    text-align: right;
    /* put somewhere else */
}

#logo {
    padding: 0.5rem;
    height: 80px;
}

#logo-container {
    padding: 0;
    z-index: 2;
}

.header-bg {
    height: 64px;
    z-index: 1;
    background-color: #84b0c2;
}

.appstore-link {
    display: block;
    margin: 4px 4px 4px auto;
}

.navbar-nav {
    padding-top: 4px;
}


/*------------------------------------------------------- Section    */

section {
    padding-top: 70px;
}

.appStoreLink-sm {
    text-align: center;
    margin: 8px;
}



.align-right {
    text-align: right;
}

.tagline {
    padding: 60px 0px 25px;
}

.description {
    padding-top: 20px;
}

.train-picture:before {
    padding-top: 100%;
    content: ''; /* Enable the pseudo-element */
    display: block;
    background-image: url("/assets/images/background/tracks-home.png");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 6px #fff
}


/*------------------------------------------------------- Features    */

.features-bg {
    background-size: cover;
    background-position: center;
}

.features-bg.general {
    background-image: url("/assets/images/bg-features/general.png");
}

.features-bg.privacy {
    background-image: url("/assets/images/bg-features/privacy.png");
}

.features-bg.calendar {
    background-image: url("/assets/images/bg-features/calendar.png");
}

.features-bg.buttons {
    background-image: url("/assets/images/bg-features/buttons.png");
}

.features-bg.change {
    background-image: url("/assets/images/bg-features/change.png");
}

.features-bg.new {
    background-image: url("/assets/images/bg-features/new.png");
}

.features-preview {
    width: 200px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
    border-radius: 50%;
    background-size: cover;
    background-color: darkgrey;
    transition: transform 0.2s;
    box-shadow: 0 0 6px #fff;
}

.features-preview:hover {
    transform: scale(1.1);
    
}

.features-preview.general {
    background-image: url("/assets/images/screenshots-features/general.png");
    float: right;
}

.features-preview.privacy {
    background-image: url("/assets/images/screenshots-features/privacy.png");
    float: right;
}

.features-preview.new {
    background-image: url("/assets/images/screenshots-features/new.png");
    float: left;
}

.features-preview.calendar {
    background-image: url("/assets/images/screenshots-features/calendar.png");
    float: left;
}

.features-preview.buttons {
    background-image: url("/assets/images/screenshots-features/buttons.png");
    float: left;
}

.features-preview.change {
    background-image: url("/assets/images/screenshots-features/change.png");
    float: right;
}





/*------------------------------------------------------- Manual    */

.content {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Blinker', sans-serif;
    font-size: 12pt;
}

.pic-container {
    background-color: white;
    max-height: 768px;
    border-radius: 20px;
    padding-right: 15px;
    text-align: center;
}

.pic-description {
    border-radius: 20px;
    max-width: 100%
}

.topics {
    color: white;
    padding-left: 0;
}

.topics:hover {
    color: #fac481;
    text-decoration: none;

}

.selected-topic {

    border-radius: 10px;
    background-color: #fac481;
    padding-left: 0;
    color: #212121;
}

.selected-topic:hover {
    color: white;
}

.faicons {
    width: 40px;
    display: inline-block;
    text-align: center;
}

.download-icon {
    font-size: 19pt;
}

.manual-toggler {
    padding: 0;
}

.downloadpdf-small {
    float: right;
    text-decoration: none;
}

/*------------------------------------------------------- Form    */

.form-item {
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    color: #212121;
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.btn-send {
    color: #212121;
    background-color: #fac481;
    border-color: #fac481;
}



/*------------------------------------------------------- Footer    */

#footer-details {
    color: #212121;
    margin-top: 0px;
}

footer p {
    font-size: 14px;
}

footer hr {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0.5px solid #212121;
}

.social-icon {
    width: 24px;
    height: 24px;
    background-color:#212121;
    border-radius: 4px;
    font-size: 18px;
    color: #84b0c2;
    margin-right: 10px;
    margin-top: 4px;
    padding-top: 3px;
    
}


@media screen and (max-width : 320px) {
    h2 {
        font-size: 17px;
    }

    .features-preview {
        width: 130px;
        height: 130px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
    }

    p {
    font-size: 16px;
    }
}

@media screen and (max-width : 576px) {

    h1 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    h2 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .header-bg {
        height: 50px;
    }
}

@media screen and (max-width : 832px) {
     #logo {
        height: 55px;
    }
}

@media screen and (max-width : 992px) {

    .features-preview {
        width: 150px;
        height: 150px;
    }
    

}

@keyframes fadeToOrange {
    from {
        color: #212121;
        
        }
    to {
        color: #fac481;
        
    }
}